:root {
   --bs-green: #75c58e;
   --bs-blue-dark: #152b3c;
   --bs-gray: #eaecec;
   --bs-blue-light: #1d4c6f;
   --box-shadow-green: 0px 0px 30px rgba(117, 197, 142, 0.25);
   --bs-green-dark: #4c7c5c;
}

* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content-title {
   background-color: var(--bs-green);
   color: white;
   padding: 18px;
   margin-bottom: 20px;
}

.right-midle {
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
}

.form-register {
   font-weight: 400;
   font-size: 15px;
   margin: auto;
   margin-top: 50px;
   width: 50%;
   border-radius: 20px;
   padding: 25px 40px;
   box-shadow: var(--box-shadow-green);
}

.form-register h1 {
   text-align: center;
}

.register-inputs {
   margin: auto;
   width: 80%;
   display: flex;
   flex-direction: column;
}

.register-inputs input {
   font-size: 15px;
   margin-bottom: 10px;
   padding: 10px;
   border: 2px solid rgb(240, 240, 240);
}

.control-form {
   margin-top: 20px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
}

.check-terms {
   margin: auto;
}

.social-buttons {
   margin: auto;
   width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   justify-items: center;
   ;
}

.container-title h3 {
   text-align: center;
   margin-bottom: 20px;
}

.social-buttons .container {

   margin-bottom: 10px;

}

.social-button {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 5px;
   border-radius: 20px;
   width: 100%;
   padding: 4px 20px;
   background-color: transparent;
   border: 1px solid rgb(230, 230, 230);
}

.social-button:hover {
   cursor: pointer;
   transform: scale(1.01);
   box-shadow: var(--box-shadow-green);
}




.btn-login {
   background-color: transparent;
   color: black;
   display: inline-block;
   font-weight: 600;
   font-size: 20px;
   line-height: 30px;
   text-align: center;
   padding: 12px 20px;
   min-width: 115px;
   text-decoration: unset;
   border-radius: 40px;
   cursor: pointer;
   outline: 2px solid var(--bs-green);
}

.btn-login:hover {
   background-color: #00290d;
   color: white;
   outline: 0px;
   transition: 600ms;
}

.ul-hor {
   display: flex;
   flex-direction: column;
}


/* FOOTER */

footer {
   margin-top: 40px;
   width: 100%;
   background-color: var(--bs-green);
}

.footer-content {
   margin: auto;
   width: 85%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   justify-items: center;
   padding: 20px;
}

footer h1 {
   color: white;
   font-size: xx-large;
}

footer ul {
   display: flex;
   flex: column wrap;
   gap: 25px;
   list-style-type: none;
}

footer ul li a {
   opacity: 80%;
   display: flex;
   color: white;
   text-decoration: none;
}

footer a:hover {
   opacity: 100%;
}

footer a,
.icon-svg {
   opacity: 80%;
}

footer a,
.icon-svg:hover {
   opacity: 100%;
   transform: scale(1.2);
}

/* Page TaskContent */
.leftSide {
   width: 15%;
   padding: 2px;
   display: flex;
   flex-direction: column;
}

.leftSide-Top {
   background-color: var(--bs-green);
   text-align: center;
   padding: 10px;
   color: white;
   margin-bottom: 5px;
}

.leftSide-Top-User {
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 10px;
   border-top: 1px solid gainsboro;
}

.image-Top-User {
   text-align: center;
   margin-bottom: 5px;
}

.image-Top-User img {
   width: 60%;
   border-radius: 50%;
   border: 2px solid #1d4c6f;
}

.nameUser {
   text-align: center;
   font-size: large;
   font-weight: bolder;
}

.leftSide-content {
   border-top: 1px solid gainsboro;
   display: flex;
   flex-direction: column;
}

.leftSide-controlls {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 5px;
   background-color: var(--bs-blue-dark);
   padding: 3px;
   color: white;
}

.leftSide-controlls h3 {
   font-weight: 400;
}

.leftSide-controlls button {
   background-color: var(--bs-green);
   padding: 7px;
   color: white;
   font-weight: bold;
   cursor: pointer;
}

.leftSide-controlls button:hover {
   background-color: var(--bs-green-dark)
}

.leftSide-group-tasks {
   background-color: var(--bs-gray);
   padding: 15px;
}

.group-task {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   justify-items: center;
   padding: 10px;
   border-radius: 20px;
   border: 2px solid white;
   margin-bottom: 15px;
   background: white;
}


.group-task h3 {
   text-align: center;
   color: var(--bs-blue-light);
   font-weight: 500;

}

.group-task span {
   text-align: center;
   margin-top: 7px;
   padding: 5px;
}

.group-task:hover {
   transform: scale(1.02);
   box-shadow: var(--box-shadow-green);
   cursor: pointer;
}

.main-task {
   padding: 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;

}

.body-content-task {
   margin-right: 20px;
   display: flex;
   flex-direction: column;
   width: 80%;
   border-radius: 30px;
   box-shadow: var(--box-shadow-green);
}

.task-top {
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   width: 100%;
   background-color: var(--bs-blue-light);
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.img-task-group {
   width: 80%;
   text-align: center;
}

.img-task-group img {
   width: 60%;
   border-radius: 10px;
}

.task-top h1 {
   text-align: center;
   color: white;
}

.content-task-form {
   background-color: white;
   border-radius: 20px;
   width: 80%;
   display: flex;
   flex-direction: row;
   padding: 20px;
   gap: 40px;
}

.task-form form {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.task-input-name {
   display: flex;
   flex-direction: column;
}

.task-input-name input {
   margin-bottom: 10px;
   border: 2px solid gainsboro;
   font-size: medium;
   padding: 2px;
}

.select-piority select {
   width: 100%;
   font-weight: 600;
   text-align: center;
   border: 2px solid gainsboro;
   margin-top: 5px;
   padding: 2px;
}

.task-controls {
   display: flex;
   flex-direction: column;
   justify-content: center;
   justify-items: center;
   gap: 10px;
}

.button-control {
   padding: 15px;
   color: white;
   font-weight: bold;
   border-radius: 10px;
   font-size: medium;
   cursor: pointer;
}

#task-button-delete {
   background-color: rgb(114, 0, 0);
}

#task-button-save {
   background-color: var(--bs-green);
}

#task-button-finish {
   background-color: var(--bs-blue-light);
}

.button-control:hover {
   transform: scale(1.02);
   transition: 300ms;
}

#task-button-delete:hover {
   background-color: rgb(65, 0, 0);
}

#task-button-save:hover {
   background-color: #004d18;
}

#task-button-finish:hover {
   background-color: #132f46;
}

.body-tasks-grid {
   padding: 25px;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 15px;
}

.btn-task-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 5px;
   cursor: pointer;
   width: 100%;
   background-color: white;
   border: 1px solid var(--bs-gray);
   border-radius: 25px;
}

.image-container {
   display: flex;
   width: 90%;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.image-container img {
   width: 100%;
   /* Set a fixed width */
   height: 100%;
   /* Set a fixed height */
   border-radius: 10px;
   object-fit: cover;
}

.btn-task-content div {
   padding: 5px;
}

.btn-task-content:hover {
   transform: scale(1.002);
   box-shadow: var(--box-shadow-green);
}

.priority {
   display: inline-block;
   padding: 10px;
   text-align: center;
   font-weight: 800;
   width: 100%;
   border-radius: 20px;
   color: white;
}