.nav-primary {
   width: 100%;
   background-color: black;
}

.nav-primary div {
   width: 97%;
}

.nav-primary ul {
   display: flex;
   justify-content: end;
   padding: 4px;
   gap: 15px;
}

.nav-primary ul li {
   margin-left: 2px;
   list-style-type: none;
}

.nav-primary ul li a {
   color: white;
   text-decoration: none;
   opacity: 60%;
}

.nav-primary ul li a:hover {
   transition: 500ms;
   opacity: 100%;
}